
h3 {
	text-align:center;
}

a:link { 
	color:red; 
}

a:active {
	color: !important;
}

.container-fluid {
    padding-top: 0px;
    padding-bottom: 0px;
 }

.link {
	 font-family:"Arial";
	 font-size: 26px;
}

.header {
 	 font-family:"Arial";
	 font-size: 36px;
}