body {
    background-color: lightcyan
    ;
}

h1 {
    color: tomato;
    font-family: verdana;
    font-size: 180%;
}

p  {
    color: lightseagreen;
    font-family: courier;
    font-size: 120%;
    /*The CSS border property defines a border 
    around an HTML element:*/
    border: 1px solid white;
    /*The CSS padding property defines a padding 
    (space) between the text and the border:*/
    padding: 10px;
    /*The CSS margin property defines a margin 
    (space) outside the border:*/
    margin: 20px;
}

/* To define a specific style for one special element, 
add an id attribute to the element: then define a style 
for the element with the specific id:*/
#p01 {
    color: blue;
}

/* To define a style for a special type of elements, 
add a class attribute to the element: then define 
a style for the elements with the specific class: */
p.custom {
    color: tomato;
}